1. Python
2. Ruby
3. Java
4. R
5. Scala

1. Tensorflow
2. Pytorch
3. Numpy
4. Scipy
5. Pandas
6. keras
7. Matplotlib
8. caffe
9. Bob
10. BeutifulSoup

|Data Science Tools|
--------------------
|Tableau|
|PowerBI|
|Excel|
|Matlab|
|Jupyter Notebook|

below are few example of arithmatic expressions

In [1]:
(3*4)+10

22

In [2]:
min = 200
hours = min/60
print(hours)

3.3333333333333335

- Collecting Data
- Processing Data
- Exploring and Visualizing data
- Analyzing and apllying ML
- Planning based acquired insight

# Auther's Name
<br>
Pooja S